.cardBlog {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  min-width: 400px;
  min-height: 50px;
  margin: 3rem;
}

.img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content {
  width: 100%;
  height: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    font-weight: 400;
  }

}

.readmore {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  border-radius: 9999px;
  padding: 0.3rem 1rem;
  display: flex;
  align-self: flex-start;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.card {
  border-radius: 0.75rem;
  flex-basis: 30%;
  position: relative;
  height: 500px;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    z-index: 0;
  }

  div:first-child {
    z-index: 100;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 0.75rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.01) 100%);

    button {
      font-size: 0.85rem;
      color: #000;
      background-color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 0.75rem;
      font-weight: 400;
    }
  }
}