@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #000;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// navbar css -
.dropdown.active > .dropdown-menu,
.menu-item:hover {
  color: #000;
}

.sub-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; 
  pointer-events: none;
}

.dropdown-arrow {
  transition: transform 150ms ease-in-out;
}

.dropdown.active {
  .dropdown-menu + .sub-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .dropdown-arrow {
    transform: rotate(180deg);
  }
}
// - end

// carousel css -
.carousel-container {
  height: 75vh;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(5, 1fr);
}

.imgs {
  grid-area: 1 / 1 / 6 / 4;
  object-fit: cover;
}

.img-content {
  grid-area: 1 / 1 / 6 / 4;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.arrows {
  z-index: 100;
  cursor: pointer;
}

.arrow-left {
  grid-area: 1 / 1 / 6 / 2;
}

.arrow-right {
  grid-area: 1 / 3 / 6 / 4;
}

.dots {
  grid-area: 5 / 2 / 6 / 3;
  justify-self: center;
  align-self: end;
  padding-bottom: 1rem;
}
// - end