@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #000;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// navbar css -
.dropdown.active > .dropdown-menu,
.menu-item:hover {
  color: #000;
}

.sub-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; 
  pointer-events: none;
}

.dropdown-arrow {
  transition: transform 150ms ease-in-out;
}

.dropdown.active {
  .dropdown-menu + .sub-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .dropdown-arrow {
    transform: rotate(180deg);
  }
}
// - end

// carousel css -
.carousel-container {
  height: 70vh;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: repeat(5, 1fr);
}

.imgs {
  grid-area: 1 / 1 / 6 / 4;
  object-fit: cover;
}

.img-content {
  grid-area: 1 / 1 / 6 / 4;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.arrows {
  z-index: 100;
  cursor: pointer;
}

.arrow-left {
  grid-area: 1 / 1 / 6 / 2;
}

.arrow-right {
  grid-area: 1 / 3 / 6 / 4;
}

.dots {
  grid-area: 5 / 2 / 6 / 3;
  justify-self: center;
  align-self: end;
  padding-bottom: 1rem;
}
// - end

// how to help options css

.options.active {
  border-color: #000;
  color: #000;

  p {
    font-weight: 300;
    display: block;
  }

  button {
    display: flex;
  }
}

.options {
  border-left-width: 4px;
  border-color: rgb(134, 134, 134);
  padding: 0 1.25rem;
  margin: 1rem 0;
  color: rgb(134, 134, 134);
  
  h1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  p {
    font-weight: 300;
    display: none;
  }

  button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    border-radius: 9999px;
    padding: 0.5rem 1.25rem;
    display: none;
    align-self: flex-start;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}