@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown.active > .dropdown-menu,
.menu-item:hover {
  color: #000;
}

.sub-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out; 
  pointer-events: none;
}

.dropdown.active > .dropdown-menu + .sub-menu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}