.howtohelp-container {
  background-color: #2dd4bf;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  box-shadow: 7px 9px 0px 0px rgba(0, 0, 0, 0.2);
}
