.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}

.list::-webkit-scrollbar {
  background: #fff;
  border: 1px solid #000;
  border-radius: 2rem;
  height: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 2rem
}