.list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}

.list::-webkit-scrollbar {
  --tw-text-opacity: 1;
  background-color: #fff;
  border: 1px solid hsl(var(--n) / var(--tw-text-opacity));;
  border-radius: 2rem;
  height: 10px;
}

.list::-webkit-scrollbar-thumb {
  --tw-text-opacity: 1;
  background-color: hsl(var(--n) / var(--tw-text-opacity));
  border-radius: 2rem
}