.volunteer {
  margin: 3rem 0rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-weight: 700;
    font-size: 0.75rem;
    color: gray;
    letter-spacing: 0.15rem;
  }

  h1 {
    font-weight: 500;
    font-size: 2rem;
  }

  p {
    margin: 1rem;
    font-weight: 300;
    font-size: 0.90rem;
    text-align: center;
    width: 70%;
  }
}

.tasks {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;

  h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.bubble {
  background-color: #dcffe4;
  border-radius: 0.75rem;
  color: #000;

  padding: 2rem;

  ul {
    li {
      display: flex;
      align-items: center;
      font-weight: 400;
      letter-spacing: 0.10rem;
      font-size: 0.9rem;
      margin: 1rem 0;
    }
  }
}

.taskList {
  margin: 2rem 0;
  li {
    border-bottom: 1px solid black;
    display: flex;
    padding: 1rem 0 2rem 0;
    h3 {
      font-weight: 600;
      font-size: 1.5rem;
      flex-basis: 50%;
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      flex-basis: 50%;
      letter-spacing: 0.1rem;
      line-height: 2rem;
    }
  }
}